In [1]:
# Crea un diccionario llamado planet con los datos propuestos

planet = {
    'name': 'Mars',
    'moons': 2
}

In [2]:
# Muestra el nombre del planeta y el número de lunas que tiene.

print(f'{planet["name"]} has {planet["moons"]} moons')

Mars has 2 moons

In [3]:
# Agrega la clave circunferencia con los datos proporcionados previamente

planet['circumference (km)'] = {
    'polar': 6752,
    'equatorial': 6792
}

In [4]:
# Imprime el nombre del planeta con su circunferencia polar.

print(f'{planet["name"]} has a polar circumference of {planet["circumference (km)"]["polar"]}')

Mars has a polar circumference of 6752

Ejercicio: Cálculo de valores

En este escenario, calcularás tanto el número total de lunas en el sistema solar como el número promedio de lunas que tiene un planeta.

In [6]:
# Planetas y lunas

planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [9]:
# Obtenemos la lista de las lunas
moons = planet_moons.values()

# Obtenemos el total de planetas
planets = len(planet_moons.keys())

In [10]:
# Calcula el total_moons agregando todas las lunas
total_moons = 0
for moon in moons:
    total_moons = total_moons + moon
    
# Calcula el promedio dividiendo el total_moons por el número de planetas
average = total_moons / planets

# Muestra el promedio
print(average)

17.833333333333332